@media all and (max-width: 1000px) {}

@media all and (max-width: 670px) {
    .header-right {
        display: none;
    }

    .grid-container {
        width: 50%;
    }

    .grid-item .search {
        width: 50%;
        height: 50%;


    }

    .search p {
        font-size: 1px;
        padding: 15px 20px;
    }
    .menu-icon {
        display: block;
    }
}