body {
    margin: 0;
}

header {
    background-color: #BCD4E6;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.header-left {
    float: left;
}

.header-left a {
    padding: 0px 30px;
    line-height: 60px;
    display: block;
    font-size: 24px;
}

.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 15px 15px 0px 0px;
    display: none;
}

.header-right {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}

.header-menu {
    padding: 0 20px;
    margin-left: 5px;
    line-height: 40px;
    float: left;
    display: block;
    transition: 0.3s;
}

.header-menu:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.sign-up {
    background-color: rgba(77, 77, 223);
    border-radius: 15px;
    color: white;
}

.sign-up:hover {
    background-color: rgb(59, 59, 175);
    color: white;
}

.top {
    background-image: url("https://images.freeimages.com/images/large-previews/1f6/books-4-1421569.jpg");
    background-size: cover;
    color: whitesmoke;
    padding: 200px 0px 50px 0px;
    text-align: center;
}

.top h1 {
    font-size: 50px;
}



.grid-container {
    background-color: #BCD4E6;
    display: flex;
    flex-direction: row;

}

.grid-item {
    margin: 200px 100px;


}

.grid-item .search {
    width: 80%;
    height: 6%;
    background-color: #ffffff;
    opacity: 1px;
    box-shadow: 80px 0px 160px 4px #000000;
    border-radius: 30px;



}

.search p {
    padding: 15px 20px;
}

.grid-container .signup {
    color: #457B9D;
    text-decoration: none;
    justify-content: center;
    padding-left: 10px;
}


.grid-item img {
    height: 80%;
    margin-top: -100px;
}