body {
    margin: 0;
}

header {
    background-color: rgba(120, 189, 216, 0.9);
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.header-left {
    float: left;
}

.header-left a {
    padding: 0px 30px;
    line-height: 60px;
    display: block;
    font-size: 24px;
}

.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 15px 15px 0px 0px;
    display: none;
}

.header-right {
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}

.header-menu {
    padding: 0 20px;
    margin-left: 5px;
    line-height: 40px;
    float: left;
    display: block;
    transition: 0.3s;
}

.header-menu:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.sign-up {
    background-color: rgba(77, 77, 223);
    border-radius: 15px;
    color: white;
}

.sign-up:hover {
    background-color: rgb(59, 59, 175);
    color: white;
}